<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../css/cliente.css" rel="stylesheet">
</head>

<body ng-app="MainView">

    <div ng-controller ="MainCtrl" class="wrapper">
      <div class="row">
        <section>
            <div class="titulo">
                <div>
                  <img src="../fonts/2_Flat_logo_on_transparent_263x75.png" >
                </div>

               Visualizando dados HTTP Remoto
            </div>
            <div class="tokenEntrada">
              <input type="text" placeholder="Token" ng-model="token" class="form-control" aria-describedby="helpBlock">
            </div>
            <div class="botoes">

              <input class="btn  btn-primary btn-lg" ng-click="entrar()" type="button" value="Conectar">
              <input class="btn btn-primary  btn-lg" type="button" value="Cancelar">

            </div>
        </section>
      </div>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>

    <script>
   angular.module("Controller", []);
   angular.module('MainView', ['Controller']);
    </script>

    <!-- Controller -->
    <script src="./main.view.js"></script>


</body>

</html>
